.search-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: $dark-mode-background;
  /* Dark background for a Spotify-like look */
  color: #ffffff;
  /* White text on a dark background */

  .search-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    /* Responsive grid */
    grid-gap: 1rem;
    list-style: none;
    padding: 0;
    width: 100%;
    /* Ensure the grid takes up the full width of the container */
    /* Limit the maximum width */
    justify-items: stretch;
    /* Stretch the items to fill the grid cells */

    li {
      min-height: 7rem;
      /* Set the minimum height */
      max-height: 9rem;
      /* Set the maximum height */
      width: 100%;
      /* Ensure the li elements take up the full width of their grid cells */
      border-radius: 8px;
      padding: 1rem;
      display: flex;
      justify-content: left;
      align-items: start;
      background-color: #282828;
      /* Dark grey background for list items */
      color: white;
      font-weight: bold;
      text-align: center;
      transition: transform 0.3s ease, background-color 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      /* Subtle shadow for depth */

      &:hover {
        transform: scale(1.05);
        background-color: #333333;
        /* Slightly lighter on hover */
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

  }
}

.search-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // height: 300px;
  gap: 1em;
  /* Adds some spacing between the grid columns */

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 10px;
    background-color: $grey-darkest;


    h2,
    h6,
    img {
      margin-left: 20px;
    }

  }

  .songs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribute songs evenly within the grid */
    overflow-y: auto;
    /* Allows scrolling if there are more songs */
    padding: 10px;
  }

  .song-item {
    display: grid;
    grid-template-columns: 50px 1fr 20px 50px 20px;
    align-items: center;
    margin-bottom: 10px;
    gap: 0.6em;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .song-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name-container {
        width: 250px;
        overflow: hidden;

        .item-name {
          width: fit-content;
          max-width: 250px;
          text-wrap: nowrap;
          overflow: hidden;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .artist-name {
        font-size: 0.8rem;
        margin: 0;
        color: $grey-light;
        /* A lighter color for the artist name */
      }


    }

    .time {
      color: $grey-light;
    }

    &:hover {}

  }

  .song-item {

    align-items: center;
    // gap: 1em;
    font-family: 'GothamBook';
    border-radius: 5px;
    padding: 2.5px;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    .item-name {
      color: $white;
    }

    .playing {
      color: $green;

    }


    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      .img-container {

        .pause-button-container,
        .play-button-container {
          display: flex;
        }
      }
    }

    .img-container {
      display: flex;
      align-items: center;
      justify-items: center;

      height: 50px;
      width: 50px;

      img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
        border-radius: 5px;
      }

      // background-color: $green;
      border-radius: 5px;



      .pause-button-container,
      .play-button-container {
        justify-self: center;
        background-color: rgba(0, 0, 0, 0.583);
        width: 50px;
        height: 50px;
        border-radius: 5px;

        display: none;
        align-items: center;
        justify-items: center;
        position: absolute;

        font-size: 2em;
        color: $white;
        z-index: 4;

        .play-button,
        .pause-button {
          width: 30px;
          height: 30px;
          margin: 0 auto;

        }

      }
    }

    &:hover {
      .options-button {

        opacity: 1;
      }
    }

    .options-button {
      font-size: 1.2em;
      color: $white;
      opacity: 0;

      &:hover {
        color: $grey-light;
      }
    }

    .info-container {

      display: flex;
      flex-direction: column;


      .item-name {
        color: $white;
      }

      .song-name.playing {
        color: $green;
      }

      .playlist-details {
        display: flex;
        gap: 0.25em;
      }

      span {
        color: $grey-light;
      }

      span:first-of-type::after {
        content: ' •'

      }
    }

    &:hover {
      .plus {
        display: block;
      }
    }

    .plus {
      fill: $grey-light;
      width: 17px;
      display: none;

      &:hover {
        fill: $white;
        transform: scale(1.1);

      }
    }

    .added {
      fill: $green;
      width: 17px;

      &:hover {

        transform: scale(1.1);

      }

    }
  }
}

.tag,
.search-list li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden; // Ensure that the image doesn't overflow the tag's borders

  img {
    position: absolute;
    bottom: -10px;
    
    right: -10px;
    width: 100px;
    height: 100px;
    transform: rotate(25deg); // Tilt the image
    z-index: 0; // Make sure the image is behind the text
    
  }

  // Ensure text is on top of the image
  span {
    position: relative;
    z-index: 1;
  }
}


