.app-header {
    display: flex;
    // min-height: 3.5rem;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;

    background-color: $clr4;
    margin: 0px 0px 0px 1.6rem;

    height: 75px;
    background-color:black;
    
    .app-logo{
        color: white;
        // font-size: 1.5em;
    }
    
    nav {
        display: flex;
        // width: 100%;
        // height: 100%;
        // height: 36px;
        align-items: center;
        align-items: center;
        justify-items: center;
        gap: 1em;
        
        // font-size: .8em;
        a{

            text-decoration: none;
        }
        .active {
            // color: $clr1;

        }
        align-self: center;
  
        .logo-container {
            cursor: pointer;
            font-size: 1.8em;
            font-weight: bold;
            // margin-inline-end: 2em;     
               height: 100%;

               display: flex;
               align-items: center;
               gap: 0.2em;
               color: $white;
               transition: 0.2s;
               b{

                  
               }

               img{
                width: 50px;
            
             
               }
                &:hover{


                        transform: scale(1.08);

                }
               
            }

            
            
            button {
                margin-inline-end: 0;
            }
        }

        .home-search-container{
            display: flex;
            align-items: center;
            justify-items: center;

            gap: 0.6em;

            cursor: pointer;

         

            .home-button-container{
                background-color: $grey-dark;
                padding: 0.6em;
                display: flex;
                align-items: center;
                justify-items: center;
                // height: 50px;
                // width: 50px;
                border-radius: 50px;
                color: $grey-light;
                
                .home-button{
                    font-size: 1.5em;
                    justify-self: center;

                }
                .home-button.active{
                    color: $white;
                }
            }
            .search-container{
              
                padding: 0.6em;
                background-color: $grey-dark;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-items: center;
                gap: 0.6em;
                transition: 0.2s;
                // border: 2.5px solid transparent;


                
                &:hover{
                    background-color: $grey-medium;
                    outline: 1px solid $grey-light;
                }

                &:has(input:focus){
                    outline: 2.5px solid $white;

       
                }

                input{
                   background-color: transparent;
                   border: none; 
                   min-width: 25vw;
                   color: $white;

                    font-size: 0.9em;

                    cursor: pointer;
                   &:focus{
                    outline: none;
               

                   }
                }
                ::placeholder {
                    color: $grey-light;
                    opacity: 1; /* Firefox */
                  }

                .icon{
                    font-size: 1.5em;
                    color: $grey-light;
                    &:hover{
                        color: $white;
                        
                    }
                    
                }
                .browse{

                    &:hover{

                        transform: scale(1.05);
                    }
                }
            }
        }


        .login-link{
        font-size: 1.8em;
        font-weight: bold;
        border-radius: 50%;
        padding: 5px;
            
        //    height: 100%;
            background-color: $grey-medium;
            color: white;
            display: flex;
            align-items: center;

    }

    .login-link {
        // margin-inline-start: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        
        .btn-link {
            color: $clr2;
        }
    }
}

.user-container{
    // margin-inline-end: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5em;
}