.library-container{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  gap: 0.5em;

  background-color:$dark-mode-background;
  // width:98%;
  // height:7.625rem;
  height:fit-content;
  height: calc(100vh - 170px);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  

  .library-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-container{
    padding: 0.8em 0.8em 0.8em 0.3em;
  }


  .library-title{
    display: flex;
    align-items: center;
    justify-items: center;
    gap:0.5rem;
    padding: 0.5em 0.5em 0.5em 0.5em;

    .library-icon{
        width: 1.3em;
        height: 1.3em;
  
        color:$grey-light;
  
    }
  
    .library-text{
      color:$grey-light;
      margin: 0px;
      font-size: 0.9em;
    }
  }


  .plus-icon{
    width: 1rem;
    height: 1rem;
    // margin-right: 0.5rem;
    // margin-bottom: 0.8rem;


    color:$grey-light;

    &:hover{
      color:$white;
      transition: 1s;
    }
  }

  .liked-songs-station{
width:5rem;
height:5rem;
border-radius: 0.5rem;
  }

  .playlist-input-container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  // margin: 20px 0;
  position: relative;
  cursor: pointer;

  .icon{
    position: absolute;
    color: $grey-light;
    // inset-inline-start: 0.4em;
    border-radius: 25px;
    font-size: 1.2em;
    // cursor: pointer;
    

    
    &:hover{
      // background-color: $grey-dark;
      
    }
    
    &:hover ~ input[type="text"]{
      background-color: $grey-dark;

      
    }
    
  }

  .search{
    inset-inline-start: 0.4em;
  }

  .clear{
    display: none;
    inset-inline-end: 0.4em;
    &:hover{

    }

  }

  
  
  input[type="text"] {
    
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    // padding: 10px 15px;
    padding: 0.5em;
    border: 1px solid transparent;
    color: #fff;
    width: 30px;
  // height: 30px;

    border-radius: 25px;
    background-color: transparent;
    
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: $grey-light;
    padding-inline-start: 2.5em;
    // padding-top: 1.3em;


    
    &::placeholder {
      color: $grey-light;
      margin-inline-start: 0.5em;


    }
    &:focus::placeholder {
      color: $grey-light;

    }
    
    &:hover {
      // background-color: $grey-medium;
      background-color: $grey-dark;
    }
    
    &:focus {
      border-radius: 4px;
      background-color: $grey-dark;
      // background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      cursor: text;
    }
    &:focus ~ .clear {
      display: block;
    }

  }
}

  .library-stations-container{
    height: calc(100vh - 360px);
    overflow-y: auto;

  }

  .station-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
    font-family: 'GothamBook';
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    position: relative;


    &:hover{
      background-color: rgba(255, 255, 255, 0.1);

      .img-container{

        .pause-button-container, .play-button-container{
          display: flex;
        }
      }
    }
    
    .img-container{
      display: flex;
      align-items: center;
      justify-items: center;
      
      height: 50px;
      width: 50px;
      img{
        width: 50px;
        height: 50px;
        object-fit:scale-down;
        border-radius: 5px;
      }
      
      // background-color: $green;
      border-radius: 5px;
      
      
      
      .pause-button-container, .play-button-container{
        justify-self: center;
        background-color: rgba(0, 0, 0, 0.583);
        width: 50px;
        height: 50px;
        border-radius: 5px;
        
        display: none;
        align-items: center;
        justify-items: center;
        position:absolute;

        font-size: 2em;
        color: $white;
        z-index: 4;
        
        .play-button, .pause-button{
          width: 30px;
          height: 30px;
          margin: 0 auto;

        }

      }
    }

    .info-container{

      display: flex;
      flex-direction: column;

      
      .station-name{
        color: $white;
      }
      .station-name.playing{
        color: $green;
      }

      .playlist-details{
        display: flex;
        gap: 0.25em;
      }
      span{
        color: $grey-light;
      }
      span:first-of-type::after{
        content: ' •'

      }
    }
  }
}