.spotify-footer {
    background-color: $background-black;
    color: $grey-light;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #282828;
    height: 200px;
    display: flex;
    align-items: end;

    

  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      max-width: 1200px;
      margin: 0 auto;
  
      .footer-links {
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          gap: 20px;
  
          li {
            a {
              color: #b3b3b3;
              text-decoration: none;
              font-size: 14px;
              transition: color 0.3s ease;
  
              &:hover {
                color: white;
              }
            }
          }
        }
      }
  
      .footer-socials {
        a {
          color: $grey-light;
          font-size: 18px;
          margin: 0 10px;
          transition: color 0.3s ease;
  
          &:hover {
            color: $white;
          }
        }
      }
  
      .footer-copyright {
        p {
          font-size: 12px;
          color: #b3b3b3;
        }
      }
    }
  }