
.liked-songs-container{
  width: 100%;
  height: 100%;
  background-color: #2e1a47; 
}

.liked-songs-header{
  display: flex;
  align-items: center;
  gap:1rem;
  width:100%;
  height: 30%;
  background: linear-gradient(135deg, #4b0082, #8a2be2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.liked-songs-station-header-img{
width:8.50rem;
height:8.5rem;
// padding:1.5rem;
border-radius: 0.5rem;
margin-inline-start: 1rem;
}

.liked-songs-header-texts{
  display: flex;
  flex-direction: column;

  height: 100%;
}

.liked-songs-header-small{
  margin:0;

}
.liked-songs-header-text{
  font-size: 6rem;
}

.liked-songs-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px; 
  margin-left: 3rem;

  th, td {
    text-align: left;
    border-bottom: 1px solid #dddddd57;
  }

  // th:last-child {
  //   padding: 0px;
  //   width:1rem;
  // }




}

