.stations-in-category {
  display: grid;



}

.main-search-container {
  display: grid;

  grid-template-rows: 15rem 1fr;
  border-radius: 0.5rem;
  height: fit-content;


  .discover-new-music {
    display: flex;
    flex-direction: column;

    h1 {
      padding-top: 2rem;
      padding-left: 0.5rem;
      background: linear-gradient(180deg, rgba(32, 26, 23, 0.5) 0%, rgba(30, 24, 20, 0.5) 50%, rgb(30, 22, 18 , 0.5) 100%);

      margin-bottom: 0;
      
    }
    
    .gradient {
      background: linear-gradient(180deg, rgb(33, 22, 18 , 0.5) 0%, rgba(30, 24, 20, 0.5) 25%, #121212 50%);
    }
  }

  // .stations-container {
  //   width: 100%;
  //   background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgb(25, 20, 20));
  // }

  .search-tags {
    display: grid;
    grid-auto-flow: row; // Places tags in a grid row by row
    justify-items: center; // Centers tags horizontally in the grid cells

    .tag {
      justify-self: center; // Horizontally center each tag within its cell
      align-self: center; // Vertically center each tag within its cell
    }
  }
}

.header-section {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  display: flex;
  align-items: flex-end;

  h1 {
    font-size: 5rem;
    margin-left: 5%;
    margin-bottom: 10px;
  }
}


.search-tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: start;
  width: 95%;
  gap: 1rem;



  .tag {
    width: 100%;
    min-height: 7rem;
    max-height: 9rem;
    justify-content: left;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

.discover-new-music .h1{

}