.artists-container{
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    gap: 1em;

    overflow-y: hidden;
    .artist-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        // width: 300px;
        padding: 1em;
        border-radius: 8px;
        img{
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }
        &:hover{
            background-color: $grey-medium;
        }
    }
}