@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'GothamLight';
    src: url('public/fonts/Gotham-Light.otf') format('opentype');
}
@font-face {
    font-family: 'GothamBook';
    src: url('public/fonts/Gotham-Book.otf') format('opentype');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('public/fonts/Gotham-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'GothamBlackBold';
    src: url('public/fonts/Gotham-Black.otf') format('opentype');
}





