@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('public/fonts/Gotham-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('public/fonts/Gotham-Book.otf') format('opentype');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('public/fonts/Gotham-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Gotham-Black-bold';
    src: url('public/fonts/Gotham-Black.otf') format('opentype');
}





