// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;


// Spotify Colors

$background-black: #191414;
$green: #1DB954;
$white: #FFFFFF;
$white-hover: #dadada;
$grey-light: #B3B3B3;
$grey-medium: #535353;
$grey-dark: #343434;
$grey-darkest:#161616;
$dark-mode-background: #121212;
$dark-mode-hover: #1A1A1A;
$dark-mode-active: #272727;
$primary-accent: #1ED760;
$secondary-accent: #1DB954;
$danger-red: #E91429;
$success-green: #1DB954;
$info-blue: #509BF5;
$warning-yellow: #FFC107;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;