/* PC/TV */

@media screen and (min-width:1024px) {
  .user-info{
    .app-header-sort{
      display: none !important;
    }
    } 
}

/* Tablet */


@media screen and (min-width:768px) and (max-width:1023px) {
  .user-info{
    .app-header-sort{
      display: none !important;
    }
    } 
}



/* Mobile */

@media screen and (max-width:767px){
  .app {
    &.main-layout {
      display: grid;
      grid-template-columns:1fr;
      min-height:100vh;
      max-width: 100vw;
      
  
      .main-content{
        grid-column: 1 / -1;
        // margin: 1rem 0;
      }

      header {
        grid-column: 1 / -1;
      }
    }
  
  
    .main{
      height:fit-content;
      
    }
    .main-content{
      background-color:$background-black;
      border-radius: 0.5rem;
      height:fit-content;
      width:98%;
      // margin: 1rem 0;
    }
  }

  // .app-mobile-header{
  //   display: block;
  // }
  

  .app-header{
    .home-search-container{
      display: none !important;
    } 

    .logo-container{
      display: none !important;
    }

    .user-info {
      display: grid;
      grid-template-columns: 1fr 1fr;

      justify-content: space-between;
      // gap:1rem;
      align-items: left;
      // margin-inline-start: auto;

      // color: $clr1;
    }
  }


  .library-container{
    display: none;
  }

  .app-footer{
    position: fixed;
    bottom: calc(5em - 10px);
    padding: 10px;

    // background-color: rgba(255, 0, 0, 0.24);
    .play-bar-container{

      
    }
    .song-details-container{
      grid-column: 1/-1;
      width: 100%;
      .song-text-container{
        // display: none;
      }
      img{
        border-radius: 5px;
      }

      .mobile-play-button{
        display: flex;
      }
    }

    .control-container{

      .buttons-container{
        display: none;
      }
    }

    .time-container{
      span{
        display: none;
      }
      // position: relative;
      .time-container{
        position: absolute;
        top: calc(3em + 8px);

        // width: 50vh;
        left: 0px;
        right: 5px;
        width: 95vw;

      }
    }

    .buttons-volume-container{
      display: none;
    }
  }

  .side-bar{
    display: none;
  }

  .app-mobile-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: 'GothamLight';
    font-size: 0.7em;

  }
  
  .app-mobile-footer{
    .home-button-container{
      fill: $grey-light;
      color: $grey-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // gap: 0.5rem;
      width: 80px;
    }
    
    .home-button{
      width:2rem;
      height: 2rem;
    }
    
    
    
    
    .search-container{
      fill: $grey-light;
      color: $grey-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80px;
    }
    
    .search{
      width:2rem;
      height: 2rem;
    }
    
    .library-title{
      fill: $grey-light;
      color: $grey-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80px;
    }

    .library-icon{
      width:2rem;
      height: 2rem;
    }

    .active{
      fill: $white;
      color: $white;  
        text-decoration: none;

    }
  }


}