
.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body{
  font-family: 'GothamMedium';
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


.app {
  &.main-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height:100vh;
    

    header {
      grid-column: 1 / -1;
    }
  }


  .main{
    height:fit-content;
    
  }
  .main-content{

    background-color:$background-black;
    border-radius: 0.5rem;
    height:fit-content;
    width:98%;
    // margin: 1rem 0;
  }
}