
.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body{
  font-family: 'GothamMedium';
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #878787 $background-black;
  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    // border: 1px double #FFFFFF;
  }


}


.app {
  &.main-layout {
    margin-inline-end: 0.5em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 65px 1fr 95px;
    height:100vh;
    

    header {
      grid-column: 1 / -1;
    }

    .side-bar{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    
    .main-content{
      
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .footer{
      grid-column: 1/-1;
      grid-row: 3/4;
    }
  }


  .main{
    height:fit-content;
    
  }
  .main-content{
    background-color:$background-black;
    border-radius: 0.5rem;
    height:fit-content;
    // width:98%;
    // margin: 1rem 0;
  }
}